/* Beige */
/* Grey */
/* Primary palette */
/* Other colors */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #277c78;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
}

body {
  font-family: var(--font-public-sans);
  background-color: #f8f4f0;
}

/* Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}

.card-link:hover span {
  text-decoration: underline;
}

.submit-btn, .delete-btn, .auth-btn {
  cursor: pointer;
  padding: 16px;
  width: 100%;
  font-weight: 700;
  border-radius: 8px;
  transition: background-color 0.125s ease-in-out;
}
.submit-btn:hover, .delete-btn:hover, .auth-btn:hover {
  background-color: #f8f4f0;
  color: black;
  transition: background-color 0.125s ease-in-out;
}

.submit-btn {
  color: white;
  background-color: #201f24;
}

.delete-btn {
  color: white;
  background-color: #c94736;
}

.auth-btn {
  background-color: transparent;
  outline: 1px solid #201f24;
}
.auth-btn:hover {
  color: white !important;
  background-color: #201f24;
  color: black;
  transition: background-color 0.125s ease-in-out;
}

.menu-items {
  z-index: 100;
}

.page-title {
  font-size: 32px;
  font-weight: 700;
}

.card {
  padding: 24px 20px;
  border-radius: 12px;
  color: #201f24;
  background-color: white;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
}

.card-link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.card-link span {
  font-size: 14px;
  color: #696868;
}

.auth-input:focus {
  outline: 1px solid #277c78;
  transition: all 0.125s ease-in-out;
}

.donut {
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: conic-gradient(var(--segments));
  position: relative;
}

/* inner cut-out */
.donut::after {
  content: "";
  position: absolute;
  inset: 48px; /* thickness of ring */
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.25);
}

.menu-items {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.btn-basic {
  border-radius: 8px;
  border: 1px solid #696868;
}

.hover-basic {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.hover-basic:hover {
  color: white;
  background: #201f24;
  transition: all 0.1s ease-in-out;
}

.hover-invert {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.hover-invert:hover {
  color: #201f24;
  background: white;
  transition: all 0.1s ease-in-out;
}

.hover-btn,
.hover-option {
  transition: background-color 0.075s ease-in-out;
}
.hover-btn:hover,
.hover-option:hover {
  background-color: #f8f4f0;
  transition: background-color 0.075s ease-in-out;
}

table {
  margin-top: 24px;
}
table thead th {
  font-weight: normal;
  margin: 24px 0;
  padding: 16px 0;
}
table tbody td {
  padding: 16px 0;
}

@media screen and (min-width: 640px) {
  .card {
    padding: 32px;
  }
}/*# sourceMappingURL=style.css.map */